{%load static %}
{% include 'header.html' %}
<div style="background-color: #F8F8F8; margin-left:0 !important;" class="container ">
<div style="margin-top: 13vh;" class="row">
    <div class="text-yango-pg col-md-8">
        <h1>Become a driver with app Yango pro in Pakistan</h1>
<p>Partner with Yango, connecting with our extensive network of ride-hailing services across the country. With competitive income and flexible hours, driving with Yango Pro gives you the opportunity to earn more on your own terms. Plus, enjoy a user-friendly app, 24/7 support, and seamless payments. Start driving with Yango Pro today and accelerate your earnings.</p>
<button style="background-color: #FF0000; " type="button" class="btn btn-primary btn-lg yango-pro-button">Download Yango Pro</button>
    </div>
    <div class="col-md-4">
            <img class="img-cont" src="{%static 'web_images/orig.jpg' %}" alt="">
    </div>
</div>
</div>

<div class="container sec-main-heading">
    <h1>Here's what a job as a driver looks like</h1>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3 custome-card-y1">
            <img class="img-fluid" src="https://avatars.mds.yandex.net/get-lpc/9736426/e3e27017-e4c9-47d8-a6bf-308e3836a9e3/orig" alt="">
            <h5>Earn up to 250,000 Rs. monthly</h5>
            <p>Carry out rides with Yango partners or as a partner yourself
            </p>
        </div>
        <div class="col-md-3 custome-card-y1">
            <img class="img-fluid" src="https://avatars.mds.yandex.net/get-lpc/9736426/f051ebee-3744-48b4-b6dc-fad3bb1cd374/orig" alt="">
            <h5>
                Get started in a few hours</h5>
                <p>You can sign up as a driver and start making rides in less than 4 hours, unlike any other hailing services
                </p>
        </div>
        <div class="col-md-3 custome-card-y1">
            <img class="img-fluid" src="https://avatars.mds.yandex.net/get-lpc/10116223/a0fab24d-95ea-427b-83d8-fabf0e7cf5f6/orig" alt="">
            <h5>Drive any vehicle</h5>
            <p>Work with a car, bike or rickshaw.
            </p>
        </div>
    <div class="row mt-1 justify-content-center">
        <div class="col-md-3 custome-card-y1">
            <img class="img-fluid" src="https://avatars.mds.yandex.net/get-lpc/10704932/d4c3a928-e0e4-484d-b281-ac7f52ee9901/orig" alt="">
            <h5>Instant payments</h5>
            <p>Get your money the same day</p>
        </div>
        <div class="col-md-3 custome-card-y1">
            <img class="img-fluid" src="https://avatars.mds.yandex.net/get-lpc/10116223/a3fe5e1c-630b-4462-afb3-7a634878eb16/orig" alt="">
            <h5>Flexible hours</h5>
            <p>You decide whether to take full shifts or just a few rides a day</p>
        </div>
        <div class="col-md-3 custome-card-y1">
            <img class="img-fluid" src="https://avatars.mds.yandex.net/get-lpc/12602567/12fdd9d6-a0d4-476b-a71a-4adbb5bdf6a8/orig" alt="">
            <h5>Increase your income</h5>
            <p>Get bonuses every week</p>
        </div>
    </div>
    </div>
</div>
{% include 'footer.html' %}